
<% if (locals && locals.user && locals.user.profileImage) { %>
 

    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="">
                </a>
            </div>
            <div class="form-header-searchbar" action="#" method="GET">
                <input type="text" class="header-searchbar-input" placeholder="Buscar musica, pinturas, artistas..."></input>
                <div class="submit-header-searchbar"><i class="fa fa-search"></i></div>
                <div id="search-bar">
                    <li id='lis'>
                        <a id='slinks' href=""></a>
                    </li>
                </div>

            </div>
    
    
        </div>
        <div class="nav-container">
            <nav>
                <ul class="nav-site">
                    <li><a href="/" class="header-nav-links">Inicio</a></li>
                    <li><a href="/products" class="header-nav-links">Todo</a></li>
                    <li><a href="/products/promotions" class="header-nav-links">Promociones</a></li>
                    <li><a href="#" class="header-nav-links">M치s buscados</a></li>
                </ul>
                <ul class="nav-icons">
                    <li><a href="/cart" class="header-nav-links"> <i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="#" class="hamburger-menu"><i class="fa-solid fa-bars"></i></a></li>
                    
                    <li class="profile" id="desplegable">
                        <a href="/users/profile" class="header-profile-image">
                            <div class="miniature-img-box-overflowH">
                            <img src="/images/users/<%=locals.user.profileImage%>" alt="">
                            </div>
                            <ul>
                                
                                <li class="cerrar-sesion">
                                    <a href="/users/profile">Mi perfil</a>
                                </li>
                                <li class="cerrar-sesion">
                                    <a href="/users/logout">Cerrar Sesi칩n</a>
                                </li>

                            </ul>
                        </a>
                    </li>
                </ul>
            </nav>
    
        </div>
            <script src="/js/search.js"></script>
    </header>
    <% } else{  %>

 
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="">
                </a>
            </div>
            <form  class="form-header-searchbar" action="/search" method="POST">
                <input type="text" class="header-searchbar-input" placeholder="Buscar musica, pinturas, artistas..."></input>
                <button class="submit-header-searchbar" type="submit"><i class="fa fa-search"></i></button>
                <div id="search-bar">
                    <li id='lis'>
                        <a id='slinks' href=""></a>
                    </li>
                </div>
            </form>
            
            
        </div>
        <div class="nav-container">
            <nav>
                <ul class="nav-site">
                    <li><a href="/" class="header-nav-links">Inicio</a></li>
                    <li><a href="/products" class="header-nav-links">Todo</a></li>
                    <li><a href="/products/promotions/" class="header-nav-links">Promociones</a></li>
                    <li><a href="#" class="header-nav-links">M치s buscados</a></li>
                </ul>
                <ul class="nav-icons">
                    <li>
                        <a href="/cart" class="header-nav-links"> <i class="fa-solid fa-cart-shopping"></i></a>
                    </li>
                    <li>
                        <a href="#" class="hamburger-menu"><i class="fa-solid fa-bars"></i></a>
                    </li>
                    <li class="sesion-links">
                        <a href="/users/login" class="isesion">Iniciar sesi칩n</a>
                        <a href="/users/register" class="isesion">Registrarme</a>
                        <a href="/users/login" class="responsive-login"><i class="fa-solid fa-user"></i></a>
                    </li>
                </ul>
            </nav>
            
        </div>
    </header>
    <script src="/js/search.js"></script>
 <% }%>