<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artplace</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div class="top-header">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <div class="form" action="#" method="GET">
            <input type="text" class="input" placeholder="Buscar musica, pinturas, artistas..."></input>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    </div>
    <nav>
        <ul class="nav-site">
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Más buscados</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-user">
            <li><a href="/registro">Usuario</a></li>
            <li><a href="#">Favoritos</a></li>
        </ul>
        <ul class="nav-icons">
            <li><a href="#"> <i class="fa-solid fa-bell"></i></a></li>
            <li><a href="/carrito"> <i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>
</body>

<main>
    <section class="featured">
        <div class="title">
            <h2>Más destacados</h2>
        </div>
            <div class="products">
                <article>
                    <div class="image-container">
                        <img src="images/kobe-leyenda.jpg" alt="">
                    </div>
                    <div class="main-product">
                        <h3>Bl4ck mambas for ever</h3>
                        <h4 class="usd">U$D</h4>
                        <p class="price-text">500.00</p>
                    </div>
                    <div class="button-container">
                        <button class="buy-button" href="#">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="image-container">
                        <img src="images/cerati.jpg" alt="">
                    </div>
                    <div class="main-product">
                        <h3>Gustavo Cerati</h3>
                        <h4 class="usd">U$D</h4>
                        <p class="price-text">150.00</p>
                    </div>
                    <div class="button-container">
                        <button class="buy-button" href="#">COMPRAR</button>
                    </div>
                </article>
                <article>
                    <div class="image-container">
                        <img src="images/anillos.jpg" alt="">
                    </div>
                    <div class="main-product">
                        <h3>Las puertas de Argonath</h3>
                        <h4 class="usd">U$D</h4>
                        <p class="price-text">100.00</p>
                    </div>
                    <div class="button-container">
                        <button class="buy-button" href="#">COMPRAR</button>
                    </div>
                </div>
                </article>
    </section>

    <section>
        <div class="pay-metods">
            <div class="descriptions">
                <i class="fa-solid fa-credit-card"></i>       
                <h2>Pagá con tarjeta o </h2>
                <p>En Artplace tenes cuotas sin interes para pagar con tu tarjeta de credito, o debitarlo directamente de tu tarjeta de debito.</p>                       
            </div>
            <div class="descriptions">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h2>Paga en efectivo</h2>
                <p>Tambien podes pagar en efectivo acercandote a cualquier Pagofacil o Rapipago del pais.</p>   
            </div>
            <div class="descriptions">
                <i class="fa-solid fa-user-shield"></i> 
                <h2>Tu seguridad y comodidad esta primero</h2>
                <p>Si algo no cumplio con lo que buscabas, u ocurrio algun problema te brindamos ayuda inmediata para poder solucionartelo.</p>   
            </div>
        </div>
    </section>

    <section class="ofers">
        <div class="title">
            <h2>Ofertas</h2>
        </div>
        <div class="products">
            <article>
                <div class="image-container">
                    <img src="images/lebron.jpg" alt="">
                </div>
                <div class="main-product">
                    <h3>Lebron James</h3>
                    <h4 class="usd">U$D</h4>
                    <p class="price-text">350.00</p>
                    <p class="ofer">%20 OFF</p>
                </div>
                <div class="button-container">
                    <button class="buy-button" href="#">COMPRAR</button>
                </div>
            </div>
            </article>
            <article>
                <div class="image-container">
                    <img src="images/cerati2.jpg" alt="">
                </div>
                <div class="main-product">
                    <h3>Gustavo Cerati psicodelico</h3>
                    <h4 class="usd">U$D</h4>
                    <p class="price-text">200.00</p>
                    <p class="ofer">%30 OFF</p>
                </div>
                <div class="button-container">
                    <button class="buy-button" href="#">COMPRAR</button>
                </div>
            </div>
            </article>
            <article>
                <div class="image-container">
                    <img src="images/talon.jpg" alt="">
                </div>
                <div class="main-product">
                    <h3>Cuadro 5 piezas de Talon</h3>
                    <h4 class="usd">U$D</h4>
                    <p class="price-text">250.00</p>
                    <p class="ofer">%50 OFF</p>
                </div>
                <div class="button-container">
                    <button class="buy-button" href="#">COMPRAR</button>
                </div>
            </div>
            </article>
    </section>
</main>

<footer class="footer-styles">
    <section class="footer-menu">
        <article class="right-menu-container">
            <ul class="lists-style">
                <li> <a href="/views/index.html">Inicio</a></li>
                <li> <a href="#">Contacto</a></li>
                <li> <a href="#">Sobre Nosotros</a> </li>
            </ul>
        </article>
        <article class="right-menu-container">
            <ul class="lists-style">
                <li> <a href="/">Iniciar sesión</a></li>
                <li><a href="/registro">Registrarme</a></li>
                <li> <a href="#">Preguntas frecuentes</a></li>
            </ul>
            
        </article>

    </section>
    <section class="social-media-links-container">
        <div class="single-icon-container">
            <a href="">
                <i class="fa-brands fa-facebook-f icons"></i>
            </a>
        </div>
        <div class="single-icon-container">
            <a href="" class="footer-link">
                <i class="fa-brands fa-instagram icons"></i>
            </a>
        </div>
        <div class="single-icon-container">
            <a href="">
                <i class="fa-brands fa-twitter icons"></i>
            </a>
        </div>
    </section>
    <section class="footer-texts">
        <article>
            <p class="website-rigths-text">Todos los derechos reservados | artplace® </p>
        </article>
    </section>
</footer>
</html>