<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artplace</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include ("./partials/header") %> 

<main>
    <div class="products">
        <div class="featured">
            <h2>Mas destacados</h2>
        </div>
        <div class="product">
            <img src="images/kobe-leyenda.jpg" alt="">
            <h3>BL4CK MAMBAS FOR EVER</h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text">500.00</span>
            </div> 
            <div class="button-container">
                <button class="buy-button" href="#">COMPRAR</button>
            </div>
        </div>
            
        <div class="product">
            <img src="images/cerati.jpg" alt="">
            <h3>GUSTAVO CERATI</h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text">150.00</span>
            </div>
            <div class="button-container">
                <button class="buy-button" href="#">COMPRAR</button>
            </div>
        </div>

        <div class="product">
            <img src="images/lennon.jpg" alt="">
            <h3>LENNON</h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text">100.00</span>
            </div>
            <div class="button-container">
                <button class="buy-button" href="#">COMPRAR</button>
            </div> 
        </div>
    </div>
    
    <div class="">
        <div class="metods-container">
            <div class="descriptions">
                <i class="fa-solid fa-credit-card"></i>       
                <h2>Pagá con tarjeta</h2>
                <p>En Artplace tenes cuotas sin interes para pagar con tu tarjeta de credito, o debitarlo directamente de tu tarjeta de debito.</p>                       
            </div>

            <div class="descriptions">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h2>Paga en efectivo</h2>
                <p>Tambien podes pagar en efectivo acercandote a cualquier Pagofacil o Rapipago del pais.</p>                       
            </div>

            <div class="descriptions">
                 <i class="fa-solid fa-user-shield"></i> 
                <h2>Tu seguridad y comodidad esta primero</h2>
                <p>Si algo no cumplio con lo que buscabas, u ocurrio algun problema te brindamos ayuda inmediata para poder solucionartelo.</p>                      
            </div>
        </div>
    </div>
    
    <div class="products-offers">
        <div class="offers">
            <h2>OFERTAS</h2>
        </div>
        <div class="product">
            <img src="images/cerati2.jpg" alt="">
            <h3>CERATI PSICODELICO</h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text">90.00</span>
                <span class="ofer">%30 OFF</span>
            </div> 
            <div class="button-container">
                <button class="buy-button" href="#">COMPRAR</button>
            </div>
        </div>
            
        <div class="product">
            <img src="images/talon.jpg" alt="">
            <h3>TALON CUADRO EN PIEZAS</h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text">200.00</span>
                <span class="ofer">%15 OFF</span>
            </div>
            <div class="button-container">
                <button class="buy-button" href="#">COMPRAR</button>
            </div> 
        </div>

        <div class="product">
            <img src="images/lebron.jpg" alt="">
            <h3>THE KING</h3>
            <div class="price-product">
                <span class="usd">U$D</span>
                <span class="price-text">250.00</span>
                <span class="ofer">%10 OFF</span>
            </div>
            <div class="button-container">
                <button class="buy-button" href="#">COMPRAR</button>
            </div> 
        </div>
    </div>
</main>

<%- include ("./partials/footer") %> 
</body>
</html>