<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artplace</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>


    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                </div>
                <div class="form-header-searchbar" action="#" method="GET">
                    <input type="text" class="header-searchbar-input" placeholder="Buscar musica, pinturas, artistas..."></input>
                    <div class="submit-header-searchbar"><i class="fa fa-search"></i></div>
                </div>
            </div>
            <div class="nav-container">
                <nav>
                    <ul class="nav-site">
                        <li><a href="#" class="header-nav-links">Categorías</a></li>
                        <li><a href="#" class="header-nav-links">Promociones</a></li>
                        <li><a href="#" class="header-nav-links">Más buscados</a></li>
                    </ul>
                    <ul class="nav-icons">
                        <li><a href="#" class="header-nav-links"> <i class="fa-solid fa-user"></i></a></li>
                        <li><a href="/carrito" class="header-nav-links"> <i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                </nav>
            </div>
        </header>
    <main>
        <section class="product-container">
            <div class="product-title-container">
                <h2 class="product-title">Cuadro de boba fett</h2>
            </div>
        </section>

        <div class="barrier">
            <br>
        </div>
        <div class="main-product-container">
            <section class="left-product-section">
                <div class="product-miniature">
                    <img src="images/Cuadro-boba-render-1.png" alt="" class="minature-image">
                    <p class="miniature-numers">1</p>
                    <img src="images/Cuadro-boba-render-2.png" alt="" class="minature-image">
                    <p>2</p>
                    <img src="images/Cuadro-bobba.png" alt="" class="minature-image">
                    <p>3</p>
                </div>
            </section>
            <section class="middle-product-section">
                    <img src="images/Cuadro-bobba.png" alt="" class="product-image">
            </section>
            <section class="right-product-section">
                <div class="product-info">
                    <div class="link-icons">
                        <i class="fa-solid fa-link linkedicons"></i>
                        <i class="fa-solid fa-ellipsis linkedicons"></i>
                    </div>
                    <h3>Cuadro de Bobba Fett</h3> 
                    <div class="seller-creator-titles">
                        <p class="seller-creator">Vendedor</p>
                        <p class="seller-creator">Creador</p>
                    </div> 
                    <div class="seller-creator-photo-name">
                        <div class="creator-seller-container">
                            <img src="images/vendedor-1.png" alt="" class="seller-creator-image">
                            <p class="creator-seller-names">J. Jackson</p>
                        </div>
                        <div class="creator-seller-container">
                            <img src="images/creador-1.png" alt="" class="seller-creator-image">
                            <p class="creator-seller-names" >JJ. Abrams</p>
                        </div>

                    </div>
                    <article>
                        <div class="product-description">
                            <h4>Sobre la obra:</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ratione obcaecati...</p>
                        </div>
                        <i class="fa-solid fa-caret-down"></i>
                    </article>
                    <article class="propularity-container">
                        <h4 class="description-titles">Popularidad:</h4>
                        <div class="popularity-level-stars">
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                            <i class="fa-solid fa-star star"></i>
                        </div>
                    </article>
                    <article>
                        <div class="product-detail-price-container">
                            <h4 class="usd">U$D</h4>
                            <p class="price-text">127.00</p>
                        </div>
                        <div class="button-container">
                            <button class="buy-button" href="#">COMPRAR</button>
                        </div>
                    </article>
                </div>
            </section>
        </div>
        <div class="barrier">
            <br>
        </div>
        <section class="recomended-products-container">
            <h1 class="product-title">Relacionados</h1>
            <div class="recomended-products">
                <article class="little-product">
                    <a href="#">
                    <div class="recomended-image-title-container">
                        <div class="img-box-overflow">
                            <img src="images/pencil-trooper.jpeg" alt="" class="recomended-product-img">
                        </div>
                        <h4 class="recomended-product-titles">Fett Alapiz</h4>
                    </div>
                    <div class="mini-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="recomended-price-usd">U$D</p>
                    <p class="recomended-price-usd">72.00</p>
                </a>
                </article>
                <article class="little-product">
                    <a href="#" class="linked-recomended-item">
                            <div class="recomended-image-title-container">
                                <div class="img-box-overflow">
                                    <img src="images/chewie-paint.webp" alt="" class="recomended-product-img">
                                </div>
                                <h4 class="recomended-product-titles">Cuadro Chewie</h4>
                            </div>
                            <div class="mini-stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="recomended-price-usd">U$D</p>
                            <p class="recomended-price-usd">72.00</p>
                    </a>
                </article>
                <article class="little-product">
                    <a href="#">
                    <div class="recomended-image-title-container">
                        <div class="img-box-overflow">
                            <img src="images/pop-trooper.jpeg" alt="" class="recomended-product-img">
                        </div>
                        <h4 class="recomended-product-titles">Pop Trooper</h4>
                    </div>
                    <div class="mini-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p class="recomended-price-usd">U$D</p>
                    <p class="recomended-price-usd">72.00</p>
                    </a>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer-styles">
        <section class="footer-menu">
            <article class="right-menu-container">
                <ul class="lists-style">
                    <li> <a href="/views/index.html">Inicio</a></li>
                    <li> <a href="#">Contacto</a></li>
                    <li> <a href="#">Sobre Nosotros</a> </li>
                </ul>
            </article>
            <article class="right-menu-container">
                <ul class="lists-style">
                    <li> <a href="/">Iniciar sesión</a></li>
                    <li><a href="/registro">Registrarme</a></li>
                    <li> <a href="#">Preguntas frecuentes</a></li>
                </ul>
                
            </article>

        </section>
        <section class="social-media-links-container">
            <div class="single-icon-container">
                <a href="">
                    <i class="fa-brands fa-facebook-f icons"></i>
                </a>
            </div>
            <div class="single-icon-container">
                <a href="" class="footer-link">
                    <i class="fa-brands fa-instagram icons"></i>
                </a>
            </div>
            <div class="single-icon-container">
                <a href="">
                    <i class="fa-brands fa-twitter icons"></i>
                </a>
            </div>
        </section>
        <section class="footer-texts">
            <article>
                <p class="website-rigths-text">Todos los derechos reservados | artplace® </p>
            </article>
        </section>
    </footer>
</body>
</html>