<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>artplace</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/product-detail.css">
</head>
<body>
    <main>
        <section class="product-container">
            <div class="product-title-container">
                <h2 class="product-title">Cuadro de boba fett</h2>
            </div>
        </section>

        <div class="barrier">
            <br>
        </div>
        <div class="main-product-container">
            <section class="left-product-section">
                <div class="product-miniature">
                    <img src="images/Cuadro-boba-render-1.png" alt="" class="minature-image">
                    <p class="miniature-numers">1</p>
                    <img src="images/Cuadro-boba-render-2.png" alt="" class="minature-image">
                    <p>2</p>
                    <img src="images/Cuadro-bobba.png" alt="" class="minature-image">
                    <p>3</p>
                </div>
            </section>
            <section>
                <div>
                    <img src="images/Cuadro-bobba.png" alt="" class="product-big-image">
                </div>
            </section>
            <section>
                <div class="product-info">
                    <div class="link-icons">
                        <i class="fa-solid fa-link"></i>
                        <i class="fa-solid fa-messages"></i>
                        <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <h3>Cuadro de Bobba Fett</h3> 
                    <div class="seller/creator-titles">
                        <p>Vendedor</p>
                        <p>Creador</p>
                    </div> 
                    <div class="seller/creator-photo-name">
                        <img src="" alt="">
                        <p>J. Jackson</p>
                        <img src="" alt="">
                        <p>JJ. Abrams</p>
                    </div>
                    <article>
                        <div class="product-description">
                            <h4>Sobre la obra:</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ratione obcaecati voluptas quaerat ullam quasi sunt aspernatur, nulla minima, magni sint? Obcaecati iusto assumenda deserunt quo repellat sunt est natus.</p>
                        </div>
                        <i class="fa-solid fa-caret-down"></i>
                    </article>
                    <article>
                        <h4>Popularidad:</h4>
                        <div class="popularity-level-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </article>
                    <article>
                        <div class="product-detail-price">
                            <h4>U$D</h4>
                            <p>127.00</p>
                        </div>
                        <div>
                            <button class="buy-button">COMPRAR</button>
                        </div>
                    </article>
                </div>
            </section>
        </div>
        <div class="barrier">
            <br>
        </div>
        <section class="recomended-products-container">
            <h1 class="product-title">Relacionados</h1>
            <div class="recomended-products">
                <article class="little-product">
                    <img src="" alt="" class="recomended-product-img">
                    <h4 class="recomended-product-titles">Fett Alapiz</h4>
                    <div class="mini-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>U$D</p>
                    <p>72.00</p>
                </article>
                <article class="little-product">
                    <img src="" alt="" class="recomended-product-img">
                    <h4 class="recomended-product-titles">Fett Alapiz</h4>
                    <div class="mini-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <iß class="fa-solid fa-star"></iß>
                    </div>
                    <p>U$D</p>
                    <p>72.00</p>
                </article>
                <article class="little-product">
                    <img src="" alt="" class="recomended-product-img">
                    <h4 class="recomended-product-titles">Fett Alapiz</h4>
                    <div class="mini-stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>U$D</p>
                    <p>72.00</p>
                </article>
            </div>
        </section>
    </main>
</body>
</html>