<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/shoppingCart.css">

    <title>Shopping Cart</title>

</head>
<body>
    <%- include ("./partials/header") %> 

    <main class="maincarrito">
        <div class="carrito">
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Eliminar</th>
                        <th>Precio inicial</th>
                        <th>Descuento</th>
                        <th>Precio final</th>
                    </tr>
                </thead>
                <tr>
                    <td><img src="/images/lebron.jpg" alt=""></td>
                    <td><div><p>40X50</p><p>Marco de madera</p></div></td>
                    <td><i class="fa-regular fa-trash-can"></i></td>
                    <td>250</td>
                    <td>no aplica</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td><img src="/images/pop-trooper.jpeg" alt=""></td>
                    <td><div><p>90X50</p><p>Marco de madera</p></div></td>
                    <td><i class="fa-regular fa-trash-can"></i></td>
                    <td>250</td>
                    <td>no aplica</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td><img src="/images/Cuadro-bobba.png" alt=""></td>
                    <td><div><p>35X50</p><p>Marco de madera</p></div></td>
                    <td><i class="fa-regular fa-trash-can"></i></td>
                    <td>250</td>
                    <td>no aplica</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td><img src="/images/cerati2.jpg" alt=""></td>
                    <td><div><p>24X34</p><p>Marco de madera</p></div></td>
                    <td><i class="fa-regular fa-trash-can"></i></td>
                    <td>250</td>
                    <td>no aplica</td>
                    <td>250</td>
                </tr>
            </table>
        </div>

        <div class="modulo_pago">
            <form action="" method="">
                
                <div class="bono">
                    <label for="codigo" class="codigo">Ingresa código de descuento:
                        <input type="text" name="código" id="codigo">
                    </label>
                    <button> Aplicar </button>
                </div>
                
                
                <label for="envio" class="envios">Selecciona tipo de envio:
                    <Label><input type="radio" name="envio" value="Dia siguiente">Dia siguiente</Label>
                    <Label><input type="radio" name="envio" value="4 dias">4 dias</Label>
                    <Label><input type="radio" name="envio" value="10 dias">10 dias</Label>
                </label>

            </form>
            
            <div class="resumen_pago">
                <h2>Resumen de compra</h2>
                <div>
                    <p>Subtotal:</p>
                    <span>1.000</span>
                </div>
                <div>
                    <p>Costo de envio:</p>
                    <span>200</span>
                </div>
                <div>
                    <p>Impuestos:</p>
                    <span>50</span>
                </div>
                <div>
                    <p>Total:</p>
                    <span>1.300</span>
                </div>
            </div>
            <button class="boton-pagar"> Ir a Pagar </button>
        </div>
    </main>

    <%- include ("./partials/footer") %> 

</body>
</html>