<!DOCTYPE html>
<html lang="en">
    <head>
    
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>artplace</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/signup.css">
        
    </head>
<body>
    <div class="top-header">
        <img src="images/logo.png" class="logo">
        <div class="form" action="#" method="GET">
            <div class="input">Buscar musica, pinturas, artistas...</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    </div>
    <nav>
        <ul class="nav-site">
            <li><a href="#">Categorías</a></li>
            <li><a href="#">Promociones</a></li>
            <li><a href="#">Más buscados</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-user">
            <li><a href="#">Usuario</a></li>
            <li><a href="#">Favoritos</a></li>
        </ul>
        <ul class="nav-icons">
            <li><i class="fa-solid fa-bell"></i></li>
            <li><i class="fa-solid fa-cart-shopping"></i></li>
        </ul>
    </nav>
</body>
</html>