
*{
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}

body{
    width: 100%;
}

header{
    background: rgb(255,255,255);
    background-image: linear-gradient(to right,black,black,rgb(107, 107, 107), grey);
    height: 120px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 6px 2px black;
    width: 100%;
    z-index: 1000;
    color: white;
    position: relative;
    z-index: 1000;
}
header ul{
    list-style: none;
    display: inline-block;
}

.top-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50%;
}

.header-profile-image img {
height: 100%;
aspect-ratio:initial

}
.miniature-img-box-overflow{
    display:flex;
    overflow: hidden;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.27);
    aspect-ratio: 1;

}

.cerrar-sesion{
    font-size: 1rem;
}

.logo img{

    width: 50%;
    box-shadow: 0px 0px 8px 3px black;
    margin: 10px 0px 0px 0px;
    border-radius: 0px 0px 14px 14px;
}

.header-searchbar-input{
    background-color: white;
    font-size: 18px;
    width: 40%;
    padding: 7.5px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    height: 40px;
}

.submit-header-searchbar{
    background-color: white;
    padding: 10px;
    color: grey;
    display: flex;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    height: 40px;
}


.form-header-searchbar{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    flex-grow: 2;
    padding: 5px;
    border-radius: 10px;

}
header nav{
    width: 80%;
    display: flex;
}

header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: white;
}
header a:visited{
    color: white;
}
header a:active{
    color: white;
}
header a:link{
    color: white;
}
.nav-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
}

.nav-site{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-grow: 2;
}

.nav-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}

.nav-icons{
    width: 30%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    color:white;
}
.header-nav-links{
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 19px;
}
@media (max-width: 1200px){
    .header-nav-links{
        font-size: 15px;
        justify-content:space-around;
    }
    .hamburger-menu{
        display: none;
    }
}
@media (min-width: 1201px){
    .hamburger-menu{
        display: none;
        width: 0;
    }
}

@media (max-width: 480px){
    .nav-site{
        display: none;
    }

    .nav-container nav{
        width: 30%;
    }
    .hamburger-menu{
        display: block;
        font-size: 0.8em;
        align-items:baseline;
    }

    header{
        width: 100%;
        aspect-ratio: 1/0.1;
        display: flex;
        height: 80px;
    }
    .header-searchbar-input{
        width: 25vw;
        
    }
 

}


@media (max-width: 760px){
    .nav-site{
        display: none;
    }
    .nav-container nav{
        width: 30%;
    }
    .hamburger-menu{
        display: block;
        font-size: 0.8em;
        align-items:baseline;
    }
    .header-profile-image img{
        width: 30px;
        border: none;
    }

    .cerrar-sesion{
        display: none;
    }

    header{
        width: 100%;
        aspect-ratio: 1/0.1;
        display: flex;
        height: 80px;
        align-items: center;
    }
    .form-header-searchbar{
        position: absolute;
        left: 110px;
        width: 100%;
    }
    .nav-container nav{
        width: 30%;
    }

    .nav-icons{
        display: flex;
        justify-content: space-evenly;
        
    }
    .nav-site{
        display: none;
    }
    .logo{
        position: absolute;
        left: 0;
        top: 0;
    }
    .logo img{
        width: 35%;
    }
    main{
        margin-top: 60px;
    }
}
