*{
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

a{
    text-decoration: none;
    color: #FE1F62;
}

body{
    text-decoration: none;
    list-style: none;
    background: rgb(0,0,0);
    background-image: url('../images/general-bg.webp');
}

main{
    width: 100%;
    height: 100%;
}

.featured{
    font-weight: 300;
    font-size: 20px;
    background-color: #F2D66A;
    display: inline-block;
    padding: 8px 8px 5px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
    justify-content: start;
    margin-left: 10%;
}

.products-offers h2{
    justify-content: start;
    color: white;
    margin-top: 40%;
}

.offers span{
    justify-content: start;
    color: white;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4% 0;

}

.products-offers{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin-left: 12%;
}

.product{
    background-color: white;
    width: 25%;
    border-radius: 10px;
    border: none;
    transition: all 450ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    aspect-ratio: 1/1.2;
    background: rgba(0, 0, 0, 0.102);
}
.product:hover{
    box-shadow: 0 0 6px 2px black;
}

.metods-container{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 6% 0;
    background: rgba(0, 0, 0, 0.321);
    padding: 2% 0;
}

.descriptions{
    width: 25%;
}

.product img{
    width: 110%;
}

.product h3{
    text-align: center;
    font-weight: 300;
}

.price-product{
}

.button-container{
    display: flex;
    justify-content: center;
}

.buy-button{
    background-color: #FE1F62;
    color: white;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 13px 20px 10px 20px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
    transition-duration: 0.5s;
}

.buy-button:hover{
    box-shadow: 0px 0px 6px 3px black;
    font-weight: 500;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
    border-radius: 5px;
    aspect-ratio: 1/1.006;
    margin-bottom: 3%;
}

