colores{
    color: #29C6C1;
    color: #FE1F62;
    color: #F2D66A;
    color: #6902DF;
}

.maincarrito{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.carrito{
    padding-right: 100px;
        padding-bottom: 30px;

}

th,td{
    padding:20px;
    border-bottom: solid;
    text-align: center;
}

.modulo_pago{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
    background-color: #F2D66A;
    height: 50%;
}

form{
    display: flex;
    flex-direction: column;
}

.codigo{
    display: flex;
    flex-direction: column;
}

.envios{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.resumen_pago{
    padding-top: 20px;
}

h2{
    padding: 15px 0px;
}

p{
    font-weight: 500;
}

.resumen_pago div{
    display: flex;
    justify-content: space-between;
}

img{
    width: 100px;
}

.boton-pagar{
    margin: 20px;
}

.bono{
    display: flex;
    align-items: flex-end;
}

@media (max-width: 768px) {

    .maincarrito{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        flex-direction: column;
    }

    .carrito{
        padding-right: 0px;
    }

    .resumen_pago div{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 645px) {

    .maincarrito{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        flex-direction: column;
    }

    .carrito{
        padding-right: 0px;
    }

    .carrito table thead{
        display:none
    }

    .carrito table, .carrito table tbody, .carrito table tr, .carrito table td{
        display:block;
        width: 100%;

    }   

    .carrito table tr{
        margin-bottom: 15px;
    }

    .carrito table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .carrito table td::before{
        content: attr(data-label);
        position: absolute;
        left:0;
        padding-left: 15px;
        font-weight: bold;
    }

    .resumen_pago div{
        display: flex;
        justify-content: center;
    }

}


