colores{
    color: #29C6C1;
    color: #FE1F62;
    color: #F2D66A;
    color: #6902DF;
}

.maincarrito{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.carrito{
    padding-right: 100px;

}

th,td{
    padding:20px;
    border-bottom: solid;
    text-align: center;
}

.modulo_pago{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
    background-color: #F2D66A;
    height: 50%;
}

form{
    display: flex;
    flex-direction: column;
}

.codigo{
    display: flex;
    flex-direction: column;
}

.envios{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.resumen_pago{
    padding-top: 20px;
}

h2{
    padding: 15px 0px;
}

p{
    font-weight: 500;
}

.resumen_pago div{
    display: flex;
    justify-content: space-between;
}

img{
    width: 100px;
}

.boton-pagar{
    margin: 20px;
}

.bono{
    display: flex;
    align-items: flex-end;
}
