fuentes{
    font-family: 'League Spartan', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
colores{
    color: #29C6C1;
    color: #FE1F62;
    color: #F2D66A;
    color: #9565cd;
    color: #46CA48;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif
}